:root {
  --primary-color: #20ad96;
}

* {
  margin: 0;
  padding: 0;
}

.common-primary-btn {
  padding: 11px 16px;
  border-radius: 4px;
  background: var(--primary-color);
  color: white;
  font-family: "Kumbh Sans";
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* navbar code start */

.navbar-wrapper {
  background: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  align-items: center;
}

.navbar-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.navbar-links-wrapper ul {
  display: flex;
  gap: 0 30px;
  transition: all 0.2s ease-in-out;
}

.navbar-links-wrapper li {
  list-style-type: none;
}

.navbar-links-wrapper li a {
  color: #4a556c;
  font-size: 15px;
  font-weight: 500;
  font-family: "Kumbh Sans";
  text-decoration: none;
  letter-spacing: -0.3px;
  /* padding: 5px 15px; */
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.navbar-links-wrapper li a:hover {
  /* background: #f1efef; */
  color: var(--primary-color);
}

.common-primary-btn {
  padding: 11px 16px;
  border-radius: 4px;
  background: var(--primary-color);
  color: white;
  font-family: "Kumbh Sans";
  font-size: 14px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.common-primary-btn:hover {
  background: #22c0a6;
}

.nav-icon {
  cursor: pointer;
}

.close-icon {
  display: none;
  cursor: pointer;
}

.nav-and-close-icon {
  display: none;
}

/* navbar code end  */

/* banner start */

.banner {
  background: #faf8f6;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 70px;
  padding-top: 100px;
  position: relative;
}

.banner-content .common-class-for-both {
  width: 50%;
  /* border: 1px solid green; */
}

.wave-img {
  position: absolute;
  top: 20px;
}

.banner-text-area {
  margin-top: 60px;
}

.banner-text-area span {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.32px;
  opacity: 0.4;
}

.banner-text-area h2 {
  color: #333461;
  font-family: "Kumbh Sans";
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.72px;
  margin-bottom: 18px;
}

.banner-text-area p {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 17px;
}

.banner-img-area {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.target-success-rate {
  padding: 24px;
  width: 237px;
  height: 94px;
  position: absolute;
  top: -65px;
  left: -150px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: #fff;
  box-shadow: 0px 16px 96px 0px rgba(111, 124, 144, 0.16);
}

.target-success-rate img {
  width: 56px;
  height: 56px;
}

.target-success-inner-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.target-success-inner-text h4 {
  color: #333461;
  font-family: "AvertaStd-Black";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.72px;
}

.target-success-inner-text p {
  color: #4a556c;
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.12px;
}

.banner-img-area-content {
  position: relative;
  width: 462px;
  height: 583px;
}

.banner-img-area img {
  width: 100%;
  height: 100%;
}
/* banner end  */

/* main section starts  */

/* i can help you section start  */

.i-can-help-you {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 96px 150px 61px 150px;
  position: relative;
}

.i-can-help-you .blue-wave {
  position: absolute;
  top: 96px;
  left: 150px;
}

.i-can-help-you-heading h2 {
  color: #333461;
  font-family: "Kumbh Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.48px;
  margin-top: 32px;
}

.i-can-help-you-texts p {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}

/* coaching consultation group coaching start  */

.coaching-consultation {
  padding: 0 150px;
  padding-bottom: 61px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background: white;
}

.common-class-coaching-consultation {
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.common-class-coaching-consultation h3 {
  color: #041434;
  font-family: "Kumbh Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 32px;
}

.common-class-coaching-consultation p {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 16px;
}
/* coaching consultation group coaching end  */

/* testimonial start  */
.testimonial {
  background: #faf8f6;
  padding-top: 120px;
  padding-bottom: 219px;
  padding-left: 150px;
}

.testimonial-heading h2 {
  color: #333461;
  font-family: "Kumbh Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
}

.testimonial-clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 37px;
  grid-gap: 37px;
}

.testimonial-clients-content {
  padding: 48px;
  background: white;
  box-shadow: 0px 96px 96px 0px rgba(177, 186, 200, 0.12);
}

.testimonial-clients-content p {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.testimonial-clients-content h3 {
  color: #333461;
  font-family: "Kumbh Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-top: 15px;
}

.testimonial-clients-content > img {
  margin-top: 15px;
}

.ratings {
  margin-top: 15px;
}

/* testimonial end  */

.blog-post-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.article-blog {
  padding: 97px 140px;
}

.article-blog h2 {
  color: #333461;
  text-align: center;
  font-family: "Kumbh Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 63px;
}

.blog-post {
  border: 1px solid #edeff5;
  background: #fff;
}

.article-text {
  padding: 24px 28px;
}

.blog-post img {
  width: 100%;
}

.article-text h4 {
  color: #333461;
  font-family: "Kumbh Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.article-text p {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 12px;
}

.read-more-blog-btn {
  text-align: center;
  margin-top: 55px;
}

.read-more-blog-btn button {
  width: 250px;
}

/* online mockup complimentary start  */

.online-session {
  border-radius: 24px;
  background: #faf8f6;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 85px;
  margin-bottom: 96px;
  /* align-items: center; */
}

.online-session-text-side {
  padding: 64px;
}

.online-session-text-side h2 {
  color: #333461;
  font-family: "Kumbh Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  margin-top: 81px;
}

.online-session-text-side p {
  color: rgba(74, 85, 108, 0.5);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}

.online-session-text-side button {
  width: 250px;
}

/* .online-session-img-side {
  height: 512px;
} */

.online-session-img-side img {
  margin-top: 80px;
  border-radius: 0 0 24px 0;
  width: 100%;
}
/* online mockup complimentary End  */

/* notification subscription start  */

.notification-subscription {
  background: #faf8f6;
  padding: 48px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.notification-heading h2 {
  color: #333461;
  font-family: "Kumbh Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
}

.notification-heading p {
  color: #4a556c;
  font-family: "Kumbh Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 16px;
}

.notification-email {
  display: flex;
  gap: 16px;
}

.notification-email input {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: rgba(74, 85, 108, 0.5);
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 14px;
  outline: none;
}
/* notification subscription end  */

/* footer start  */

.footer {
  background: white;
  padding: 64px;
}

.footer-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.logo-section p {
  color: rgba(74, 85, 108, 0.5);
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 32px;
}

.logo-page-contact-common ul {
}

.logo-page-contact-common h2 {
  color: #333461;
  font-family: "Kumbh Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 16px;
}

.logo-page-contact-common ul li {
  list-style: none;
  margin-bottom: 12px;
}

.logo-page-contact-common ul li a {
  text-decoration: none;
  color: rgba(74, 85, 108, 0.5);
  font-family: "Kumbh Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transition: all 0.2s ease-in;
}

.logo-page-contact-common ul li a:hover {
  color: var(--primary-color);
  font-weight: bold;
}

/* footer end  */
